nifi/template/BuscarMinioGravarPostgres.json
{"flowContents":{"identifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc","instanceIdentifier":"9cdd13e8-0192-1000-7fae-fec03387c4ad","name":"BuscarMinioGravarPostgres","comments":"","position":{"x":-304.0,"y":-56.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d40a23e2-734d-3657-a689-42a54170731a","instanceIdentifier":"ad4cc1cb-02a4-3e32-db4f-efa91081888e","name":"Buscar Objetos no Minio","comments":"","position":{"x":616.0,"y":352.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"range-length":null,"range-start":null,"proxy-configuration-service":"252afc94-c5c7-34fd-a172-4137cee0de40","Endpoint Override URL":"http://#{MinioIP}:9000","custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":"ef02a0ae-4576-3cc8-acc2-6f7bd2d105a4","custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"gold","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","encryption-service":null},"propertyDescriptors":{"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"98027aa7-2eb3-36ef-a576-b1d441bcbd96","instanceIdentifier":"1d529663-b83e-38e9-00e2-c0bd09ef8e90","name":"Gravar Postgres","comments":"","position":{"x":616.0,"y":904.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"INSERT INTO postgres.public.device \n(id, uid, build_number, manufacturer, model, platform, \nserial_number, version, user_id, dt_current_timestamp, filename) \nVALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, '${filename}')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"4d6ba57a-df55-32e9-b42e-69bf6c5d5457","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"ff9c9fa4-8147-3a9d-a027-cfed50a35246","instanceIdentifier":"6bd575a3-b32b-33bf-6845-46da326d9504","name":"Listar Objetos Minio","comments":"","position":{"x":624.0,"y":88.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"list-type":"1","et-initial-listing-target":"all","prefix":null,"record-writer":null,"proxy-configuration-service":"252afc94-c5c7-34fd-a172-4137cee0de40","Endpoint Override URL":"http://#{MinioIP}:9000","et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":"ef02a0ae-4576-3cc8-acc2-6f7bd2d105a4","Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"gold","Communications Timeout":"30 secs","Region":"us-west-2","et-state-cache":null,"use-versions":"false"},"propertyDescriptors":{"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"9230b636-aed7-3e43-81b2-a006086d5387","instanceIdentifier":"557a9a49-506b-3e5e-3d8b-da87a47a8119","name":"Converter JSON To SQL","comments":"","position":{"x":624.0,"y":600.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"table-schema-cache-size":"100","Table Name":"device","Catalog Name":"postgres","jts-sql-param-attr-prefix":"sql","Schema Name":"public","Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"4d6ba57a-df55-32e9-b42e-69bf6c5d5457","Update Keys":null,"Translate Field Names":"false","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f3b6698a-4267-32b8-8665-b8ed1bb65d6b","instanceIdentifier":"c73f298c-3f7a-36b6-250b-f791edd1abd4","name":"","source":{"id":"ff9c9fa4-8147-3a9d-a027-cfed50a35246","type":"PROCESSOR","groupId":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc","name":"Listar Objetos Minio","comments":"","instanceIdentifier":"6bd575a3-b32b-33bf-6845-46da326d9504"},"destination":{"id":"d40a23e2-734d-3657-a689-42a54170731a","type":"PROCESSOR","groupId":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc","name":"Buscar Objetos no Minio","comments":"","instanceIdentifier":"ad4cc1cb-02a4-3e32-db4f-efa91081888e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"72ccf646-d13b-309b-ad8b-64cd955d48d0","instanceIdentifier":"f978a877-fde9-300e-6fa5-99fdf905014c","name":"","source":{"id":"d40a23e2-734d-3657-a689-42a54170731a","type":"PROCESSOR","groupId":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc","name":"Buscar Objetos no Minio","comments":"","instanceIdentifier":"ad4cc1cb-02a4-3e32-db4f-efa91081888e"},"destination":{"id":"9230b636-aed7-3e43-81b2-a006086d5387","type":"PROCESSOR","groupId":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc","name":"Converter JSON To SQL","comments":"","instanceIdentifier":"557a9a49-506b-3e5e-3d8b-da87a47a8119"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"0f079ef4-3418-3ff1-ae9a-0a69949efa4e","instanceIdentifier":"7373ab6f-a8cd-36ba-a06c-6ab996d31620","name":"","source":{"id":"9230b636-aed7-3e43-81b2-a006086d5387","type":"PROCESSOR","groupId":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc","name":"Converter JSON To SQL","comments":"","instanceIdentifier":"557a9a49-506b-3e5e-3d8b-da87a47a8119"},"destination":{"id":"98027aa7-2eb3-36ef-a576-b1d441bcbd96","type":"PROCESSOR","groupId":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc","name":"Gravar Postgres","comments":"","instanceIdentifier":"1d529663-b83e-38e9-00e2-c0bd09ef8e90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"}],"labels":[{"identifier":"5945ee78-7f86-3859-8cd5-a2129dbb8f26","instanceIdentifier":"66dd685e-3e07-3508-9acd-a5a4f50c9794","position":{"x":384.0,"y":80.0},"label":"Ingestion","zIndex":0,"width":792.0,"height":400.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"7631f143-8d71-3c8c-9dbf-50d1cdabc7ab","instanceIdentifier":"3adb06df-9f60-3ea0-5fb7-7641000d6c18","position":{"x":400.0,"y":576.0},"label":"Processing","zIndex":0,"width":792.0,"height":192.0,"style":{"background-color":"#d4eaff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"67f39130-f578-3348-ab34-a97e2629839a","instanceIdentifier":"8348eaa8-a9c3-3860-5026-0820989dec5a","position":{"x":400.0,"y":864.0},"label":"Storage","zIndex":0,"width":784.0,"height":224.0,"style":{"background-color":"#cbfad7","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"}],"funnels":[],"controllerServices":[{"identifier":"ef02a0ae-4576-3cc8-acc2-6f7bd2d105a4","instanceIdentifier":"9ea62ff2-69a4-3b7f-91a2-f6cc3ba709a2","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":"/opt/nifi/nifi-current/properties/credentials.properties","assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"252afc94-c5c7-34fd-a172-4137cee0de40","instanceIdentifier":"3aa3e0c6-2a84-36fe-a6c0-238e2206b8ca","name":"StandardProxyConfigurationService","comments":"","type":"org.apache.nifi.proxy.StandardProxyConfigurationService","bundle":{"group":"org.apache.nifi","artifact":"nifi-proxy-configuration-nar","version":"2.0.0-M4"},"properties":{"proxy-server-port":"9000","socks-version":"SOCKS5","proxy-server-host":"#{MinioIP}","proxy-user-name":null,"proxy-type":"HTTP"},"propertyDescriptors":{"proxy-server-port":{"name":"proxy-server-port","displayName":"Proxy Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"socks-version":{"name":"socks-version","displayName":"SOCKS Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy User Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"proxy-server-host":{"name":"proxy-server-host","displayName":"Proxy Server Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy User Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-type":{"name":"proxy-type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.proxy.ProxyConfigurationService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"},{"identifier":"4d6ba57a-df55-32e9-b42e-69bf6c5d5457","instanceIdentifier":"6457b963-9f28-38c2-db7c-355c3139ce79","name":"Postgres","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M4"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres:5432/postgres?stringtype=unspecified","dbcp-time-between-eviction-runs":"-1","Database User":"admin","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/postgresql-42.7.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fef5154e-f2d8-3b81-a25c-b3c14c8307cc"}],"parameterContextName":"Global","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Global":{"name":"Global","parameters":[{"name":"MinioIP","description":"","sensitive":false,"provided":false,"value":"172.19.0.2"},{"name":"Object Key","description":"","sensitive":false,"provided":false,"value":"${filename}"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}