nifi/template/Nifi-Log-to-Slack.json
{"flowContents":{"identifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","instanceIdentifier":"f12464c7-018e-1000-ac9d-5ba96bfccb30","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"419e558a-cf25-349a-b7f3-0e85e4b3ebc3","instanceIdentifier":"f1a462b4-018e-1000-5ae5-e0a2d8299045","name":"GenerateFlowFile","comments":"","position":{"x":1040.0,"y":272.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"8d5d9811-4e88-34a6-8c2b-eff7fa62a7a8","instanceIdentifier":"f192660b-018e-1000-ce84-bf28ee1ea98a","name":"RouteOnContent","comments":"","position":{"x":536.0,"y":640.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","ERROR":"ERROR","INFO":"INFO","Character Set":"UTF-8","WARN":"WARN"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ERROR":{"name":"ERROR","displayName":"ERROR","identifiesControllerService":false,"sensitive":false,"dynamic":true},"INFO":{"name":"INFO","displayName":"INFO","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"WARN":{"name":"WARN","displayName":"WARN","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"5640e037-6fd7-373a-aaa3-4d8c8c91f1c6","instanceIdentifier":"f18cda92-018e-1000-f83b-112c9dfd60f6","name":"TailFile","comments":"","position":{"x":536.0,"y":160.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Beginning of File","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":null,"reread-on-nul":"false","tailfile-maximum-age":"24 hours","Max Buffer Size":"64 KB","File to Tail":"/opt/nifi/nifi-current/logs/nifi-app.log","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"eb6d15b2-628d-36aa-a22d-83f1028eadd7","instanceIdentifier":"f3081b65-018e-1000-a0a5-84e747ad64f9","name":"PublishSlack","comments":"","position":{"x":544.0,"y":1168.0},"type":"org.apache.nifi.processors.slack.PublishSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Max FlowFile Size":"1 MB","Thread Timestamp":null,"Publish Strategy":"Use 'Message Text' Property","Channel":"talk-with-ai","Message Text":"Olá,\n Um Erro ocorreu às ${grok.timestamp} com o Serviço ${grok.thread}. Erro msg: ${grok.message}","Character Set":"UTF-8","Include FlowFile Content as Attachment":"false"},"propertyDescriptors":{"Max FlowFile Size":{"name":"Max FlowFile Size","displayName":"Max FlowFile Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Thread Timestamp":{"name":"Thread Timestamp","displayName":"Thread Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channel":{"name":"Channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Token":{"name":"Access Token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Message Text":{"name":"Message Text","displayName":"Message Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include FlowFile Content as Attachment":{"name":"Include FlowFile Content as Attachment","displayName":"Include FlowFile Content as Attachment","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"3 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["rate limited","success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"01231f0f-2c32-3923-8977-e910d0b0227b","instanceIdentifier":"f18f2788-018e-1000-5ba5-623a68310c2f","name":"SplitText","comments":"","position":{"x":536.0,"y":416.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"6b340da9-5df7-32f8-950f-3442840da7ac","instanceIdentifier":"f349c521-018e-1000-1896-42162f98c751","name":"ExtractGrok","comments":"","position":{"x":544.0,"y":944.0},"type":"org.apache.nifi.processors.standard.ExtractGrok","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Grok Expression":"%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} \\[%{DATA:thread}\\] %{DATA:class} %{GREEDYDATA:message}","Destination":"flowfile-attribute","Keep Empty Captures":"true","Grok Pattern file":null,"Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Named captures only":"false"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Empty Captures":{"name":"Keep Empty Captures","displayName":"Keep Empty Captures","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grok Pattern file":{"name":"Grok Pattern file","displayName":"Grok Patterns","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE","URL"]}},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Named captures only":{"name":"Named captures only","displayName":"Named captures only","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"de0111b4-400f-3fed-a490-9e1532b0e1f8","instanceIdentifier":"f1a4b16f-018e-1000-095b-96032e0bfdcc","name":"SplitJson - NOME","comments":"","position":{"x":1040.0,"y":552.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"k"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","split","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"11d6ffe0-d0a0-32ee-ab83-aecb1e017da0","instanceIdentifier":"f349dd37-018e-1000-f7f0-33d72824edd0","name":"","source":{"id":"8d5d9811-4e88-34a6-8c2b-eff7fa62a7a8","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"RouteOnContent","comments":"","instanceIdentifier":"f192660b-018e-1000-ce84-bf28ee1ea98a"},"destination":{"id":"6b340da9-5df7-32f8-950f-3442840da7ac","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"ExtractGrok","comments":"","instanceIdentifier":"f349c521-018e-1000-1896-42162f98c751"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ERROR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"09d457b7-55be-35e4-8fec-890794c9fe7f","instanceIdentifier":"f1a4c304-018e-1000-2b81-673b5a5d6586","name":"","source":{"id":"419e558a-cf25-349a-b7f3-0e85e4b3ebc3","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"GenerateFlowFile","comments":"","instanceIdentifier":"f1a462b4-018e-1000-5ae5-e0a2d8299045"},"destination":{"id":"de0111b4-400f-3fed-a490-9e1532b0e1f8","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"SplitJson - NOME","comments":"","instanceIdentifier":"f1a4b16f-018e-1000-095b-96032e0bfdcc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"02015a00-8cfc-3f6f-b3f4-06aa2e27cc11","instanceIdentifier":"f1994239-018e-1000-808c-083012308c2e","name":"","source":{"id":"8d5d9811-4e88-34a6-8c2b-eff7fa62a7a8","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"RouteOnContent","comments":"","instanceIdentifier":"f192660b-018e-1000-ce84-bf28ee1ea98a"},"destination":{"id":"23383ddb-ad00-33d0-85c8-f63f630159f1","type":"FUNNEL","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"Funnel","comments":"","instanceIdentifier":"f198f08e-018e-1000-9a16-1c6f5b6f1831"},"labelIndex":1,"zIndex":0,"selectedRelationships":["INFO"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"40b7865c-67a1-33b2-9835-661e220f6fac","instanceIdentifier":"f199afdd-018e-1000-73c7-20a6b2f03d92","name":"","source":{"id":"8d5d9811-4e88-34a6-8c2b-eff7fa62a7a8","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"RouteOnContent","comments":"","instanceIdentifier":"f192660b-018e-1000-ce84-bf28ee1ea98a"},"destination":{"id":"c594d246-fa5e-373a-a130-02b8619b8a9b","type":"FUNNEL","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"Funnel","comments":"","instanceIdentifier":"f199961c-018e-1000-6077-2abe0a4f0e57"},"labelIndex":1,"zIndex":0,"selectedRelationships":["WARN"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"cd5cc1f1-913d-3f5e-aa9b-3e7110ec3553","instanceIdentifier":"f192b83d-018e-1000-3b49-857d4ae3f4e2","name":"","source":{"id":"01231f0f-2c32-3923-8977-e910d0b0227b","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"SplitText","comments":"","instanceIdentifier":"f18f2788-018e-1000-5ba5-623a68310c2f"},"destination":{"id":"8d5d9811-4e88-34a6-8c2b-eff7fa62a7a8","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"RouteOnContent","comments":"","instanceIdentifier":"f192660b-018e-1000-ce84-bf28ee1ea98a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"50855c86-ed91-3f77-a736-380a9746a027","instanceIdentifier":"f18f3d84-018e-1000-699d-ff0c2b184d25","name":"","source":{"id":"5640e037-6fd7-373a-aaa3-4d8c8c91f1c6","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"TailFile","comments":"","instanceIdentifier":"f18cda92-018e-1000-f83b-112c9dfd60f6"},"destination":{"id":"01231f0f-2c32-3923-8977-e910d0b0227b","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"SplitText","comments":"","instanceIdentifier":"f18f2788-018e-1000-5ba5-623a68310c2f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"5c223b39-57ad-349d-b950-2ede60366e49","instanceIdentifier":"f35445f6-018e-1000-b559-bd36c2ecbc54","name":"","source":{"id":"6b340da9-5df7-32f8-950f-3442840da7ac","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"ExtractGrok","comments":"","instanceIdentifier":"f349c521-018e-1000-1896-42162f98c751"},"destination":{"id":"eb6d15b2-628d-36aa-a22d-83f1028eadd7","type":"PROCESSOR","groupId":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770","name":"PublishSlack","comments":"","instanceIdentifier":"f3081b65-018e-1000-a0a5-84e747ad64f9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"}],"labels":[],"funnels":[{"identifier":"c594d246-fa5e-373a-a130-02b8619b8a9b","instanceIdentifier":"f199961c-018e-1000-6077-2abe0a4f0e57","position":{"x":232.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"},{"identifier":"23383ddb-ad00-33d0-85c8-f63f630159f1","instanceIdentifier":"f198f08e-018e-1000-9a16-1c6f5b6f1831","position":{"x":1176.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"da9ef9bc-5d4c-3bc7-82e4-549ac7dfb770"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}