nifi/template/NiFi_Flow.json
{"flowContents":{"identifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036","instanceIdentifier":"b21a56de-0163-35c3-bc7c-efccff867e6f","name":"NiFi_Flow (1)","comments":"","position":{"x":-405.0,"y":-417.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a60acdea-21b1-3ccf-8e93-07ec85a774ce","instanceIdentifier":"cf125306-31c7-3094-a439-9e0a195a55f8","name":"GenerateFlowFile","comments":"","position":{"x":-200.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[ {\n  \"id\" : 7938,\n  \"uid\" : \"aeb52d1e-5a00-412f-a20b-483085a8e6a9\",\n  \"build_number\" : 365,\n  \"manufacturer\" : \"Xiamomi\",\n  \"model\" : \"Samsung Galaxy S9\",\n  \"platform\" : \"Windows 8\",\n  \"serial_number\" : \"Yr9Vt13BlgvXO9zgJTPuCLv6F82r5S\",\n  \"version\" : 255,\n  \"user_id\" : 1992,\n  \"dt_current_timestamp\" : 1654630765114\n}]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"},{"identifier":"2bb0b2ab-455c-383e-bdfa-f3fda180d356","instanceIdentifier":"5ee336d0-027b-3b4f-602d-68dd6d8f8f80","name":"PutIceberg","comments":"","position":{"x":-176.0,"y":-271.0},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"2.0.0-SNAPSHOT"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","unmatched-column-behavior":"IGNORE_UNMATCHED_COLUMN","file-format":"PARQUET","catalog-service":"2919e55f-7d86-3d48-a125-7d82f5bf83e1","record-reader":"b402cca7-c863-3acf-a197-0be56237763d","table-name":"device_info","kerberos-user-service":null,"minimum-commit-wait-time":"100 ms","catalog-namespace":"warehouse"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"unmatched-column-behavior":{"name":"unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b59747ba-f3a1-3e64-9d16-543a60d00410","instanceIdentifier":"e31f4c82-2bdd-382f-ab73-14d15753cca5","name":"","source":{"id":"2bb0b2ab-455c-383e-bdfa-f3fda180d356","type":"PROCESSOR","groupId":"6222b834-2083-37d0-8f5f-8ae8b30b8036","name":"PutIceberg","comments":"","instanceIdentifier":"5ee336d0-027b-3b4f-602d-68dd6d8f8f80"},"destination":{"id":"27380b64-bd18-33fd-bc37-03a2cebd8de4","type":"FUNNEL","groupId":"6222b834-2083-37d0-8f5f-8ae8b30b8036","name":"Funnel","comments":"","instanceIdentifier":"91e2d59b-4950-315b-4ac4-4e22453ddb96"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"},{"identifier":"be83919b-b1f4-345d-ba16-52ecb7dd5c87","instanceIdentifier":"5f6c810d-9885-334d-6f17-b3f52baa841a","name":"","source":{"id":"2bb0b2ab-455c-383e-bdfa-f3fda180d356","type":"PROCESSOR","groupId":"6222b834-2083-37d0-8f5f-8ae8b30b8036","name":"PutIceberg","comments":"","instanceIdentifier":"5ee336d0-027b-3b4f-602d-68dd6d8f8f80"},"destination":{"id":"4cc705ab-3c1a-367b-8f67-ef24b856a8fe","type":"FUNNEL","groupId":"6222b834-2083-37d0-8f5f-8ae8b30b8036","name":"Funnel","comments":"","instanceIdentifier":"a1904b63-d57c-3a8c-f095-4d527e655918"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"},{"identifier":"ff7cef6d-d291-32d5-9754-0e3eb9501255","instanceIdentifier":"5824cf77-f054-3514-db56-83a0ec465cfe","name":"","source":{"id":"a60acdea-21b1-3ccf-8e93-07ec85a774ce","type":"PROCESSOR","groupId":"6222b834-2083-37d0-8f5f-8ae8b30b8036","name":"GenerateFlowFile","comments":"","instanceIdentifier":"cf125306-31c7-3094-a439-9e0a195a55f8"},"destination":{"id":"2bb0b2ab-455c-383e-bdfa-f3fda180d356","type":"PROCESSOR","groupId":"6222b834-2083-37d0-8f5f-8ae8b30b8036","name":"PutIceberg","comments":"","instanceIdentifier":"5ee336d0-027b-3b4f-602d-68dd6d8f8f80"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"}],"labels":[],"funnels":[{"identifier":"27380b64-bd18-33fd-bc37-03a2cebd8de4","instanceIdentifier":"91e2d59b-4950-315b-4ac4-4e22453ddb96","position":{"x":208.0,"y":0.0},"componentType":"FUNNEL","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"},{"identifier":"4cc705ab-3c1a-367b-8f67-ef24b856a8fe","instanceIdentifier":"a1904b63-d57c-3a8c-f095-4d527e655918","position":{"x":-240.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"}],"controllerServices":[{"identifier":"b402cca7-c863-3acf-a197-0be56237763d","instanceIdentifier":"3e229113-3d98-3945-8309-13cda0f986f3","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"},{"identifier":"2919e55f-7d86-3d48-a125-7d82f5bf83e1","instanceIdentifier":"09ab3a23-43de-3da8-4170-122fd20991f7","name":"HiveCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"2.0.0-SNAPSHOT"},"properties":{"hadoop-config-resources":"/opt/nifi/nifi-current/conf/hive-site.xml","warehouse-location":"s3a://iceberg/","hive-metastore-uri":"thrift://hive-metastore:9083"},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"2.0.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6222b834-2083-37d0-8f5f-8ae8b30b8036"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}